<div class="container">
  <div class="container_body"><router-outlet></router-outlet></div>
  <div class="navbar">
    <div class="navbar__svg">
      <svg class="feature__icon" style="height: 20px; width: 20px">
        <use xlink:href="../assets/sprite.svg#search"></use>
      </svg>
    </div>
    <div class="navbar__svg">
      <svg class="feature__icon" style="height: 20px; width: 20px">
        <use xlink:href="../assets/sprite.svg#user"></use>
      </svg>
    </div>
    <div class="navbar__svg">
      <svg class="feature__icon" style="height: 20px; width: 20px">
        <use xlink:href="../assets/sprite.svg#home"></use>
      </svg>
    </div>
    <div class="navbar__svg">
      <svg class="feature__icon" style="height: 20px; width: 20px">
        <use xlink:href="../assets/sprite.svg#phone"></use>
      </svg>
    </div>
    <div class="navbar__svg">
      <svg class="feature__icon" style="height: 20px; width: 20px">
        <use xlink:href="../assets/sprite.svg#brifcase"></use>
      </svg>
    </div>
  </div>
</div>
